@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body {
    font-family: Source Sans Pro;
    background-color: #eee;
    border-color: #eee;
}
.newspaper-container {
    background-color: white;
    box-shadow: #ddd;
    border-radius: 15%;
    width: 700px;
    box-shadow: 10px;
    padding: 1em;
}
main>h5 {
    color: #dd3232;
    font-weight: bold;
}
main>img {
    display: block;
    width: 100%;
}
main>p {
    text-align: justify;
}
nav {
    text-align: center;
    font-size: .75em;
    border-color: #777;
    border-top: 2px solid;
    border-bottom: 2px solid;
    position: sticky;
    top: 0em;
    background-color: white;
}
a:link {
    padding: 1.1em;
    text-decoration: none;
    color: #777;
}
li {
    display: inline-block;
}
header {
    font-family: Abril Fatface;
}
h1 {
    text-align: center;
}
h2, h4 {
    font-family: Roboto Slab;
}
.sections {
    display: inline-block;
    width: 300px;
    padding: 1.5em;
}
.date {
    position: absolute;
    left: 50px;
}